STORAGE_PROVIDER="memory"
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/myapp?schema=public"
JWT_SECRET="replace-with-a-long-random-secret-at-least-32-chars"
JWT_EXPIRY="1h"
PORT=3000
CORS_ORIGIN="http://localhost:3000,http://localhost:5173"
DB_QUERY_LOGS="true"
